@font-face {
    font-family: 'PPFormula';
    src: url('fonts/PPFormula-Extrabold.otf') format('opentype');
}

html, body{
    margin: 0;
    padding: 0;
    background: #000;
    height: 100vh;
    overflow: hidden;
}

h1, h2{
    font-family: 'PPFormula', sans-serif;
    font-size: 3em;
    color: #DDDDDD;
    text-align: left;
    margin: 0;
    position: fixed;
}

#text{
    position: fixed;
    letter-spacing: -1.5vw;
    top: 0;
    left: 0;
    z-index: -10;
}

.svg-image{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -20;
}