@font-face {
    font-family: 'PPFormula';
    src: url('../fonts/PPFormula-Extrabold.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    padding: 20px;
    background: #000;
    overflow: hidden;
}

.swiper-container {
    width: 100vw;
    height: 300px;
}

.slide-inner {
    padding: 3rem;
    padding-top: 0rem;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#quiz-container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

#wave-logo {
    position: relative;
    padding-top: 1rem;
    overflow: hidden; /* Prevent overflow of the pseudo-element */
}

#wave-logo.scaleDown {
    font-family: 'PPFormula', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    margin-left: -.5rem;
    color: #DDDDDD;
    max-width: 10ch;
    aspect-ratio: 2/1;
}

#starting-over{
    position: fixed;
    top: 4rem;
    right: 3.5rem;
    font-family: 'PPFormula', sans-serif;
    font-size: 1rem;
    background: #000;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 999px;
    z-index: 999;
}

#wave-logo::after {
    content: " ";
    background: linear-gradient(270deg, #ff007f, #ff7f00, #7fff00, #00ff7f, #00ffff, #007fff, #7f00ff, #ff007f);
    background-size: 400%; /* Allows for smooth color shifting */
    font-size: 1.5rem;
    display: block;
    width: 100%;
    height: 30px;
    animation: wave 2s ease-in-out infinite; /* Add animation */
}

/* Animation keyframes */
@keyframes wave {
    0% {
        transform: translateX(-200%);
        background-position: 0%;
    }
    50% {
        transform: translateX(0%);
        background-position: 100%;
    }
    100% {
        transform: translateX(200%);
        background-position: 0%;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

#wave-logo {
    position: fixed;
    top: 2rem;
    left: 3.5rem;
    max-width: 10ch;
    transition: all 0.3s ease-in-out;
}

h1,
.big-text {
    font-family: 'PPFormula', sans-serif;
    font-size: 5em;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    line-height: 1;
    color: #DDDDDD;
}

p {
    font-family: 'PPFormula', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    color: #DDDDDD;
    line-height: 2;
    letter-spacing: 0.5px;
    text-wrap: balance;
}

h2.explain {
    font-family: 'PPFormula', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    color: #DDDDDD;
    line-height: 2;
    letter-spacing: 0.5px;
    text-wrap: balance;
    width: 100%;
    margin-bottom: 2rem;
}

h2.explain::before {
    content: "*";
}

#start-container {
    padding: 3rem;
    position: fixed;
    opacity: 1;
    transition: opacity ease-out 0.5s;
    top: 30vh;
    z-index: 2;
}

#start-container .description {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.big-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 999px;
    font-family: 'PPFormula', sans-serif;
    font-size: 2.5em;
    border: 0;
    letter-spacing: 5px;
}

select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 50px) calc(1em - 5px),
        calc(100% - 30px) calc(1em - 5px),
        calc(100% - 2.5em) 0.25em;
    background-size:
        20px 20px,
        20px 20px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 30px) .75em,
        calc(100% - 50px) .75em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        20px 20px,
        20px 20px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

h3 {
    font-family: 'PPFormula', sans-serif;
    font-size: 4em;
    text-align: left;
    margin: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    color: #DDDDDD;
    bottom: 2rem;
    position: fixed;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, #ff007f, #ff7f00, #7fff00, #00ff7f, #00ffff, #007fff, #7f00ff, #ff007f);
    border-radius: 999px;
    outline: none;
    opacity: 1;
}

input[type="range"]::before {
    content: " ";
    opacity: 0;
    width: 100%;
    position: absolute;
    transform: translate(-15%, -50%);
    height: 1px;
    padding: 3rem;
    background: red;
    border-radius: 999px;
    z-index: -1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4rem;
    height: 4rem;
    background: #000;
    border: #fff 2px solid;
    cursor: pointer;
    border-radius: 999px;
}

#ageLabel {
    font-family: 'PPFormula', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    color: #DDDDDD;
    line-height: 2;
    letter-spacing: 0.5px;
    text-wrap: balance;
    width: 100%;
    margin-bottom: 2rem;
}

.big-textarea {
    font-family: 'PPFormula', sans-serif;
    font-size: 1.5em;
    width: calc(100% - 4rem);
    padding: 2rem;
    text-align: left;
    margin: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    color: #111;
    bottom: 2rem;
    border-radius: 999px;
}

#wave-video {
    width: 50%;
    border: 2px solid #fff;
}

#start-container {
    opacity: 0;
    transform: translateY(-50px);
    /* Initially hidden */
}

#wave-logo {
    opacity: 0;
    /* Initially hidden */
    transform: translateY(-50px);
    /* Move up for animation */
}

#start-btn {
    opacity: 0;
}

#qrcode {
    width: 100%;
    height: 300px
}

#qrcanvas{
    border: 2px solid #fff;
    width: 300px;
    height: 300px;
}

#final{
    gap: 1rem;
}

#final .big-text {
    opacity: 0;
    transform: translateY(-50px);
    /* Move up for animation */
}

#final p {
    opacity: 0;
    transform: translateY(-50px);
    /* Move up for animation */
}

#final .big-btn {
    opacity: 0;
    transform: translateY(-50px);
    /* Move up for animation */
}